<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml">

    <ui:define name="content">

        <p:button outcome="employer-list" value="#{msg.back}"/>
        <p:separator/>

        <h3>#{msg.addOpinion}</h3>
        <h:form>
            <p:inputTextarea rows="5" cols="30" counter="display" maxlength="70"
                             counterTemplate="{0} characters remaining." autoResize="false"
                             value="#{ratingPageBean.employerRating.comment}" rendered="true"/>
            <h:outputText id="display"/>

            <h:panelGrid columns="2" cellpadding="5">
                <h:outputText value="#{msg.rating}"/>
                <p:rating cancel="false" value="#{ratingPageBean.employerRating.rating}" stars="5" required="true"/>

            </h:panelGrid>

            <p:commandButton value="#{msg.sendRating}" actionListener="#{ratingPageBean.sendRating}"
                             update="@form :message">
                <p:confirm header="#{msg.confirmation}" message="#{msg.areusure}"
                           icon="ui-icon-alert"/>
            </p:commandButton>


            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes"
                                 icon="ui-icon-check"/>
                <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no"
                                 icon="ui-icon-close"/>
            </p:confirmDialog>

            <p:remoteCommand name="updateForm" update="@form"/>

        </h:form>

        <p:growl id="message" showDetail="true"/>

    </ui:define>
</ui:composition>