body {
    background-color: #dddddd;
    font-family: Helvetica !important;
}

.ui-confirm-dialog {
    position: fixed; /* or absolute */
    top: 50% !important;
    left: 50% !important;
    margin-top: -85px;
    margin-left: -100px;
}

.ui-dialog {
    top: 15% !important;
}

#top {
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    clear: both;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

#left {
    float: left;
    padding: 5px;
    width: 250px;
    min-height: 480px;
}
