<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml">

    <ui:define name="content">
        <p:outputPanel id="advert-response-list-header">
            <p:button outcome="home" value="#{msg.back}"/>
            <p:separator/>

            <h1>${msg.advertresponselist}</h1>
        </p:outputPanel>
        <p:outputPanel id="advert-response-list-container">
            <p:dataTable id="listTable" var="response" value="#{responseListBean.advertResponseDataModel}"
                         tableStyle="width: auto">

                <p:column headerText="#{msg.firstname}">
                    <h:outputText value="#{response.employeeId.firstName}"/>
                </p:column>
                <p:column headerText="#{msg.lastname}">
                    <h:outputText value="#{response.employeeId.lastName}"/>
                </p:column>
                <p:column headerText="#{msg.phonenumber}">
                    <h:outputText value="#{response.employeeId.phoneNumber}"/>
                </p:column>
                <p:column headerText="#{msg.responsetime}">
                    <h:outputText value="#{response.responseTime}"/>
                </p:column>
                <p:column headerText="#{msg.additionalmessage}">
                    <h:outputText value="#{response.message}"/>
                </p:column>

            </p:dataTable>
        </p:outputPanel>
    </ui:define>
</ui:composition>