<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml">

    <ui:define name="content">
        <h:form>
            <h:panelGrid columns="2">
                <p:outputLabel for="title" value="#{msg.title}:"/>
                <p:inputText id="title" requiredMessage="#{msg.valuerequired}"
                             placeholder="#{msg.entertitle}"
                             style="width:100%"
                             value="#{createAdvertBean.advert.title}" required="true">
                </p:inputText>
                <p:outputLabel for="description" value="#{msg.description}:"/>
                <p:inputText id="description" requiredMessage="#{msg.valuerequired}"
                             placeholder="#{msg.enterdescription}"
                             style="width:100%"
                             value="#{createAdvertBean.advert.description}" required="true"  />

                <p:outputLabel for="responses" value="#{msg.maxresponses}"/>
                <p:inputText id="responses" value="#{createAdvertBean.advert.responsesLeft}" />
                <p:outputLabel for="slider" value=""/>
                <p:slider id="slider" for="responses" minValue="1" maxValue="200" />

                <p:outputLabel for="city" value="#{msg.city}" />
                <p:inputText id="city" value="#{createAdvertBean.cityName}" />

                <p:outputLabel for="category" value="#{msg.category}" />
                <p:selectManyMenu id="category" value="#{createAdvertBean.categories}"
                                  var="c" filter="true" filterMatchMode="contains" showCheckbox="true">
                    <f:selectItems value="#{createAdvertBean.categoryList}" var="category" itemLabel="#{category.name}" itemValue="#{category}" />
                    <p:column>
                        <h:outputText value="#{c.name}" />
                    </p:column>
                </p:selectManyMenu>

                <p:outputLabel for="button" value="#{msg.expirydate}" />
                <p:calendar id="button" value="#{createAdvertBean.advert.expiryDate}" showOn="button" />
            </h:panelGrid>

            <h:panelGrid columns="2">
                <p:commandButton id="submitButton" oncomplete="updateForm()"
                                 actionListener="#{createAdvertBean.create}"
                                 value="#{msg.create}"
                                 update=":message"
                                 icon="ui-icon-shuffle">
                    <p:confirm header="#{msg.confirmation}" message="#{msg.areusure}" icon="ui-icon-alert"/>
                </p:commandButton>
                <p:button outcome="home" value="#{msg.back}" icon="ui-icon-arrowreturnthick-1-e"/>
            </h:panelGrid>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes"
                                 icon="ui-icon-check"/>
                <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no"
                                 icon="ui-icon-close"/>
            </p:confirmDialog>
            <p:remoteCommand name="updateForm" update="@form"/>
        </h:form>

        <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>