<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml">

    <ui:define name="content">
        <h:form id="listForm">

            <p:button outcome="home" value="#{msg.back}"/>
            <p:separator/>

            <h1>${msg.advertlist}</h1>
            <p:outputPanel>
                <p:dataTable id="listTable" var="advert" value="#{listMyAdvertBean.advertDataModel}" editable="true"
                             tableStyle="width: auto">
                    <p:column headerText="#{msg.title}">
                        <h:outputText value="#{advert.title}"/>
                    </p:column>

                    <p:column headerText="#{msg.description}">
                        <h:outputText value="#{advert.description}"/>
                    </p:column>

                    <p:column headerText="#{msg.city}">
                        <h:outputText value="#{advert.cityId.name}"/>
                    </p:column>

                    <p:column headerText="#{msg.expirydate}">
                        <h:outputText value="#{advert.expiryDate}"/>
                    </p:column>

                    <p:column headerText="#{msg.employer}">
                        <h:outputText value="#{advert.employerId.name}"/>
                    </p:column>

                    <p:column headerText="#{msg.responses}">
                		<p:commandButton value="#{msg.show}" 
                			action="#{listMyAdvertBean.prepareResponseListView}"
                    		ajax="false"/>
                    </p:column>

                    <p:column headerText="#{msg.delete}">
                        <p:commandButton value="#{msg.delete}" actionListener="#{listMyAdvertBean.deleteAdvert}"
                                         update=":message" oncomplete="updateTable()">
                            <p:confirm header="#{msg.confirmation}" message="#{msg.areusure}" icon="ui-icon-alert"/>
                        </p:commandButton>
                    </p:column>

                    <p:column headerText="#{msg.edit}">
                        <p:commandButton value="#{msg.edit}" action="#{listMyAdvertBean.edit}"
                                         ajax="false"/>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes"
                                 icon="ui-icon-check"/>
                <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no"
                                 icon="ui-icon-close"/>
            </p:confirmDialog>

            <p:remoteCommand name="updateTable" update=":listForm:listTable"
                             actionListener="#{listMyAdvertBean.init}"/>
        </h:form>

        <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>