<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h1>#{msg.editprofile}</h1>
        <h:form id="employee-details">
            <h:panelGrid columns="2" id="employee-panel">
                <p:outputLabel for="firstname" value="#{msg.firstname}:"/>
                <p:inputText id="firstname" requiredMessage="#{msg.valuerequired}"
                             style="width:100%" required="true" value="#{editEmployeeBean.employee.firstName}"/>
                <p:outputLabel for="lastname" value="#{msg.lastname}:"/>
                <p:inputText id="lastname" requiredMessage="#{msg.valuerequired}"
                             style="width:100%" required="true" value="#{editEmployeeBean.employee.lastName}"/>
                <p:outputLabel for="city" value="#{msg.city}:"/>
                <p:inputText id="city" requiredMessage="#{msg.valuerequired}"
                             style="width:100%" required="true" value="#{editEmployeeBean.newCityName}"/>
                <p:outputLabel for="phonenumber" value="#{msg.phonenumber}:"/>
                <p:inputText id="phonenumber" requiredMessage="#{msg.valuerequired}" style="width:100%"
                             validatorMessage="#{msg.incorrectphonenum}" required="true"
                             value="#{editEmployeeBean.employee.phoneNumber}"/>

            </h:panelGrid>
            <h2>#{msg.languages}:</h2>
            <p:dataTable id="languages" value="#{editEmployeeBean.employee.employeeLanguageList}" var="language"
                         tableStyle="width: auto">
                <p:column headerText="#{msg.language}">
                    <h:outputText value="#{language.language}"/>
                </p:column>
                <p:column headerText="#{msg.level}">
                    <h:outputText value="#{language.level}"/>
                </p:column>
                <p:column headerText="#{msg.delete}">
                    <p:commandButton update=":employee-details" value="#{msg.delete}" icon="ui-icon-trash"
                                     actionListener="#{editEmployeeBean.deleteLanguage(language)}"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="#{msg.addlanguage}" icon="ui-icon-plus" onclick="PF('newLang').show();"/>

            <h2>#{msg.education}:</h2>
            <p:dataTable id="educationList" value="#{editEmployeeBean.employee.employeeEducationList}"
                         var="education" tableStyle="width: auto">
                <p:column headerText="#{msg.university}">
                    <h:outputText value="#{education.universityId.name}"/>
                </p:column>
                <p:column headerText="#{msg.major}">
                    <h:outputText value="#{education.major}"/>
                </p:column>
                <p:column headerText="#{msg.from}">
                    <h:outputText value="#{education.dateFrom}">
                        <f:convertDateTime pattern="dd-MM-yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="#{msg.to}">
                    <h:outputText value="#{education.dateTo}">
                        <f:convertDateTime pattern="dd-MM-yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="#{msg.delete}">
                    <p:commandButton update=":employee-details" value="#{msg.delete}" icon="ui-icon-trash"
                                     actionListener="#{editEmployeeBean.deleteEducation(education)}"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="#{msg.adduniversity}" icon="ui-icon-plus" onclick="PF('newEdu').show();"/>

            <h2>#{msg.jobhistory}:</h2>
            <p:dataTable id="jobHistoryList" value="#{editEmployeeBean.employee.employeeJobHistoryList}"
                         var="job" tableStyle="width: auto">
                <p:column headerText="#{msg.employer}">
                    <h:outputText value="#{job.employer}"/>
                </p:column>
                <p:column headerText="#{msg.position}">
                    <h:outputText value="#{job.position}"/>
                </p:column>
                <p:column headerText="#{msg.from}">
                    <h:outputText value="#{job.dateFrom}">
                        <f:convertDateTime pattern="dd-MM-yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="#{msg.to}">
                    <h:outputText value="#{job.dateTo}">
                        <f:convertDateTime pattern="dd-MM-yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="#{msg.delete}">
                    <p:commandButton update=":employee-details" value="#{msg.delete}" icon="ui-icon-trash"
                                     actionListener="#{editEmployeeBean.deleteJobHistory(job)}"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="#{msg.addjobhistory}" icon="ui-icon-plus" onclick="PF('newJob').show();"/>

            <p:separator/>

            <h:panelGrid columns="2">
                <p:commandButton update=":message" value="#{msg.editaccount}" icon="ui-icon-disk"
                                 actionListener="#{editEmployeeBean.editProfile}">
                    <p:confirm header="#{msg.confirm}" message="#{msg.edit}" icon="ui-icon-alert"/>
                </p:commandButton>
                <p:button outcome="home" value="#{msg.back}" icon="ui-icon-arrowreturn-1-w"/>
            </h:panelGrid>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.yes}" type="button"
                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                <p:commandButton value="#{msg.no}" type="button"
                                 styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </p:confirmDialog>


        </h:form>

        <p:dialog id="newEduDialog" header="#{msg.adduniversity}" widgetVar="newEdu" resizable="false" modal="true">
            <h:form>
                <h:panelGrid columns="2" cellpadding="2">
                    <p:outputLabel for="newUni" value="#{msg.university}:"/>
                    <p:selectOneListbox id="newUni" value="#{editEmployeeBean.newEmployeeEducation.universityId}"
                                        converter="uniConverter" var="uni" filter="true" filterMatchMode="contains"
                                        scrollHeight="100">
                        <f:selectItems value="#{editEmployeeBean.universities}" var="uni" itemLabel="#{uni.name}"
                                       itemValue="#{uni}"/>
                        <p:column>
                            <h:outputText value="#{uni.name}"/>
                        </p:column>
                    </p:selectOneListbox>
                    <p:outputLabel for="newMajor" value="#{msg.major}:"/>
                    <p:inputText id="newMajor" value="#{editEmployeeBean.newEmployeeEducation.major}"
                                 validatorMessage="#{msg.incorrectmajor}"/>

                    <p:outputLabel for="newEduFrom" value="#{msg.from}:"/>
                    <p:calendar id="newEduFrom" readonlyInput="true" validatorMessage="#{msg.selectdatefrom}"
                                value="#{editEmployeeBean.newEmployeeEducation.dateFrom}"/>

                    <p:outputLabel for="newEduTo" value="#{msg.to}:"/>
                    <p:calendar id="newEduTo" readonlyInput="true"
                                value="#{editEmployeeBean.newEmployeeEducation.dateTo}"/>

                    <p:commandButton value="#{msg.save}" actionListener="#{editEmployeeBean.addEducation}"
                                     update=":employee-details :newEduDialog :message" onclick="PF('newEdu').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog id="newLangDialog" header="#{msg.addlanguage}" widgetVar="newLang" resizable="false" modal="true">
            <h:form>
                <h:panelGrid columns="2" cellpadding="2">
                    <p:outputLabel for="newLang" value="#{msg.language}:"/>
                    <p:inputText id="newLang" value="#{editEmployeeBean.newEmployeeLanguage.language}"
                                 validatorMessage="#{msg.incorrectlangname}"/>

                    <p:outputLabel for="newLevel" value="#{msg.level}:"/>
                    <p:selectOneMenu id="newLevel" value="#{editEmployeeBean.newEmployeeLanguage.level}"
                                     validatorMessage="#{msg.incorrectlanglevel}">
                        <f:selectItem itemLabel="A1" itemValue="A1"/>
                        <f:selectItem itemLabel="A2" itemValue="A2"/>
                        <f:selectItem itemLabel="B1" itemValue="B1"/>
                        <f:selectItem itemLabel="B2" itemValue="B2"/>
                        <f:selectItem itemLabel="C1" itemValue="C1"/>
                        <f:selectItem itemLabel="C2" itemValue="C2"/>
                    </p:selectOneMenu>

                    <p:commandButton value="#{msg.save}" actionListener="#{editEmployeeBean.addLanguage}"
                                     update=":employee-details :message :newLangDialog"
                                     onclick="PF('newLang').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog id="newJobDialog" header="#{msg.addjobhistory}" widgetVar="newJob" resizable="false" modal="true">
            <h:form>
                <h:panelGrid columns="2" cellpadding="2">
                    <p:outputLabel for="newEmployer" value="#{msg.employer}:"/>
                    <p:inputText id="newEmployer" value="#{editEmployeeBean.newJobHistory.employer}"
                                 validatorMessage="#{msg.incorrectemployer}"/>

                    <p:outputLabel for="newPosition" value="#{msg.position}:"/>
                    <p:inputText id="newPosition" value="#{editEmployeeBean.newJobHistory.position}"
                                 validatorMessage="#{msg.incorrectposition}"/>

                    <p:outputLabel for="newJobFrom" value="#{msg.from}:"/>
                    <p:calendar id="newJobFrom" readonlyInput="true"
                                value="#{editEmployeeBean.newJobHistory.dateFrom}"/>

                    <p:outputLabel for="newJobTo" value="#{msg.to}:"/>
                    <p:calendar id="newJobTo" readonlyInput="true" value="#{editEmployeeBean.newJobHistory.dateTo}"/>

                    <p:commandButton value="#{msg.save}" actionListener="#{editEmployeeBean.addJobHistory}"
                                     update=":employee-details :message :newJobDialog" onclick="PF('newJob').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>

        <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>
