<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<c:set var="isAdmin" value="#{indexPageBean.isAdmin()}"/>
<c:set var="isModerator" value="#{indexPageBean.isModerator()}"/>
<c:set var="isEmployee" value="#{indexPageBean.isEmployee()}"/>
<c:set var="isEmployer" value="#{indexPageBean.isEmployer()}"/>
<c:set var="isUserLogged" value="#{indexPageBean.isUserLogged()}"/>

<h:head>
    <title>#{msg.homepage}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="${request.contextPath}/resources/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="${request.contextPath}/resources/css/profiles.css" rel="stylesheet" type="text/css"/>
</h:head>

<h:body>
    <div id="header">
        <ui:include src="header.xhtml"/>
    </div>

    <div id="top">
        <ui:insert name="top">
            <h1>#{msg.appname}</h1>
        </ui:insert>
    </div>

    <div id="left">
        <ui:insert name="left">
            <ui:include src="left-menu.xhtml"/>
        </ui:insert>
    </div>

    <div id="content">
        <ui:insert name="content">Content</ui:insert>
    </div>

    <div id="bottom">
        <p>#{msg.appname}</p>
    </div>

</h:body>
</html>