<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml">

    <ui:define name="content">
        <h:form>
            <h:panelGrid columns="2">
                <p:outputLabel for="university" value="#{msg.uniname}:"/>
                <p:inputText id="university" requiredMessage="#{msg.valuerequired}"
                             placeholder="#{msg.entername}"
                             style="width:100%"
                             value="#{editUniBean.university.name}" required="true">
                </p:inputText>

                <p:outputLabel for="city" value="#{msg.cityname}:"/>
                <p:inputText id="city" requiredMessage="#{msg.valuerequired}"
                             placeholder="#{msg.entername}"
                             style="width:100%"
                             value="#{editUniBean.university.cityId.name}" required="true">
                </p:inputText>
            </h:panelGrid>
            <h:panelGrid columns="2">
                <p:commandButton id="submitButton" oncomplete="updateForm()"
                                 actionListener="#{editUniBean.edit}"
                                 value="#{msg.edit}"
                                 update=":message"
                                 icon="ui-icon-shuffle">
                    <p:confirm header="#{msg.confirmation}" message="#{msg.areusure}" icon="ui-icon-alert"/>
                </p:commandButton>
                <p:button outcome="home" value="#{msg.back}" icon="ui-icon-arrowreturnthick-1-e"/>
            </h:panelGrid>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes"
                                 icon="ui-icon-check"/>
                <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no"
                                 icon="ui-icon-close"/>
            </p:confirmDialog>
            <p:remoteCommand name="updateForm" update="@form"/>
        </h:form>
        <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>