<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>#{msg.error}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="${request.contextPath}/resources/css/error.css" rel="stylesheet" type="text/css"/>
</h:head>

<h:body>
    <div class="center">
        <div><h1>${msg.wrongloginlong}</h1></div>
        <div><p:button outcome="login" value="${msg.back}" icon="ui-icon-arrowreturnthick-1-e"/></div>
    </div>
</h:body>
</html>