<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml">

    <ui:define name="content">

        <p:button outcome="advert-list" value="#{msg.back}"/>
        <p:separator/>

        <h:form>
            <p:fieldset id="ad" legend="#{advertPageBean.currentAdvert.title}" style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel value="#{msg.employer}: "/>
                    <h:outputText value="#{advertPageBean.currentAdvert.employerId.name}"/>

                    <h:outputLabel value="#{msg.description}:"/>
                    <h:outputText value="#{advertPageBean.currentAdvert.description}"/>

                    <h:outputLabel value="#{msg.city}: "/>
                    <h:outputLabel value="#{advertPageBean.currentAdvert.cityId.name}"/>

                    <h:outputLabel value="#{msg.creationTime}: "/>
                    <h:outputLabel value="#{advertPageBean.currentAdvert.creationTime}"/>

                    <h:outputLabel value="#{msg.expiryTime}: "/>
                    <h:outputLabel value="#{advertPageBean.currentAdvert.expiryDate}"/>

                    <h:outputLabel value="#{msg.responsesLeft}: "/>
                    <h:outputLabel id="responseLeft" value="#{advertPageBean.currentAdvert.responsesLeft}"/>

                </h:panelGrid>
            </p:fieldset>

            <p:commandButton value="#{msg.advertResponse}" actionListener="#{advertPageBean.advertResponse}"
                             icon="ui-icon-transferthick-e-w" update="ad :message"
                             rendered="#{advertPageBean.currentAdvert.responsesLeft != 0}">
                <p:confirm header="#{msg.confirmation}" message="#{msg.areusure}" icon="ui-icon-alert"/>
            </p:commandButton>
        </h:form>

        <h:form>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes"
                                 icon="ui-icon-check"/>
                <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no"
                                 icon="ui-icon-close"/>
            </p:confirmDialog>
            <p:remoteCommand name="updateForm" update="@form"/>
        </h:form>

        <p:growl id="message" showDetail="true"/>

    </ui:define>
</ui:composition>
