<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                template="templates/main-template.xhtml">

    <ui:define name="header">
        <ui:include src="templates/header.xhtml"/>
    </ui:define>
    
    <ui:define name="content">
        <h1>#{msg.homepage}</h1>
        <c:if test="#{not empty indexPageBean.currentAccount}">
            <p:outputLabel value="Poprawne logowanie: #{indexPageBean.currentAccount.successfulLogin}:"/>
            <br/>
            <p:outputLabel value="Nieudane logowanie: #{indexPageBean.currentAccount.failedLogin}:"/>
        </c:if>
    </ui:define>

</ui:composition>

